@page "/counter"
<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>
<span>موقعیت شما : @latitude , @longitude</span>
<button class="btn btn-primary" @onclick="GetCurrentLocation">Click me</button>

@code {
    private int currentCount = 0;
    private CancellationTokenSource _cancelTokenSource;
    private bool _isCheckingLocation;
    private double latitude;
    private double longitude;

    private void IncrementCount()
    {
        currentCount++;
    }
    public async Task GetCurrentLocation()
    {
        try
        {
            _isCheckingLocation = true;

            GeolocationRequest request = new GeolocationRequest(GeolocationAccuracy.Medium, TimeSpan.FromSeconds(10));

            _cancelTokenSource = new CancellationTokenSource();

            Location location = await Geolocation.Default.GetLocationAsync(request, _cancelTokenSource.Token);

            if (location != null)
            {
                latitude = location.Latitude;
                longitude = location.Longitude;
                Console.WriteLine($"Latitude: {location.Latitude}, Longitude: {location.Longitude}, Altitude: {location.Altitude}");
            }
        }
        // Catch one of the following exceptions:
        //   FeatureNotSupportedException
        //   FeatureNotEnabledException
        //   PermissionException
        catch (Exception ex)
        {
            // Unable to get location
        }
        finally
        {
            _isCheckingLocation = false;
        }
    }

    public void CancelRequest()
    {
        if (_isCheckingLocation && _cancelTokenSource != null && _cancelTokenSource.IsCancellationRequested == false)
            _cancelTokenSource.Cancel();
    }
}
